
.water {
    animation: water 10s ease infinite;
}
.wave-fill {
    display: inline-block;
    height: 300px;
    width: 295px;
    background: #ccc ;
    -webkit-mask-image: url("logoUD.png");
    -webkit-mask-size: contain;
}

span {
    display: block;
    width: 100%;
}

.wave {
    background: url("ola.png");
    height: 22px;
    background-size: contain;
    animation: wave 10s linear infinite;
}
.deep-water {
    background: rgb(4, 103, 246);
    height: 350px;
}

@keyframes wave {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 1000px 0px;
    }
}
@keyframes water {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(40%);
    }
}